/* AdminNavbar Styles */

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #343a40; /* Background color of the navbar */
  padding: 0 15px; /* Adjust padding as needed */
}

.navbar-toggler {
  background-color: #ffffff; /* White background for the button */
  border: none; /* Remove default border */
  color: #000000; /* Text color */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1.2rem; /* Adjust icon size */
  margin-right: auto; /* Pushes the button to the left end */
}

.navbar-toggler:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.navbar-brand {
  color: #ffffff; /* Text color */
  margin-left: 10px; /* Adjust spacing between the button and the brand */
}

/* Hide sidebar-toggler on smaller screens */
@media (max-width: 768px) {
  .navbar-toggler {
    display: none; /* Hide button on smaller screens */
  }
}
